.name, .name-input input {
    color: rgba(0, 0, 0, 0.87);
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
}

.name{ 
    margin: 32px 0 16px;
}

.statement, .statement-input textarea{ 
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    line-height: 1.6;
    letter-spacing: 0.0075em;  
    margin-top: 0;  
    width: 100%;
}

.intro{     
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.position-input{ 
  width: 41.5rem;
}

.position, .position-input input{ 
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0em;
}


.position{ 
    margin: 0 0 2rem;
}

.edit-icon{ 
    position: absolute !important;
    margin-left: -65px !important;
    background-color: #690 !important;
    color: white !important;
}

.statement-input{ 
    width: 100%;
}

.extra-margin{
    margin-left: 65px;
}

.edit-outline{ 
    border-left: 0.1rem solid #3f51b5;
    padding-left:1rem;;
}