$accentColor: #3f51b5;

/*
Experience view mode
--------------------
*/
.exp{ 
  margin-top: 4rem;
  .line1{ 
    display: flex;

    .company{ 
      color: rgba(0, 0, 0, 0.87);
      font-size: 2rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -0.00833em;
    }

    .date{ 
      display: flex;
      margin-left: 1rem;
      align-items: flex-end;
    }
  }

  .bullet-container{ 
    .bullet{ 
      color: rgba(0, 0, 0, 0.54);
      font-size: 1.25rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 100;
      line-height: 1.6;
      letter-spacing: 0.0075em;  
      margin-top: 0;  
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
    
      .bullet-icon{ 
          margin-right: 0.8rem;
      }
      
    }
  }

  .nonedit-skill-list{
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;

    margin-left: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    .nonedit-skill-item{ 
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      padding: 0.5rem;
    }
  }
}

.edit-outline{ 
  border-left: 0.1rem solid #3f51b5;
  padding-left:1rem;
}

/*
Experience Edit Mode
--------------------
*/
.edit-container{ 
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 1rem;
  border: 2px solid $accentColor;

  /* Company & Experience Date Inputs*/
  .two-input-container{ 
    display:flex;
    align-items: flex-end;

    .company-input input{ 
      color: rgba(0, 0, 0, 0.87);
      font-size: 2rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -0.00833em;
    }
  
    .company-input{ 
      width: 80%;
      margin-right: 0.5rem;
    }

    .date-input input{ 
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
         -webkit-font-smoothing: antialiased;
    }
  }

  /* Position Input */
  .fullwidth-input{ 
    width: 100%;
    margin: 0.5rem;
  }


  .bulletpoints-container{ 
    padding: 1rem 1rem 1rem 1rem;
    margin-top:1rem;
    transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    .bulletpoints-label{ 
      position: absolute;
      margin-top: -1.8rem;
      background-color: white;
    }
  }


  .action-button-container{ 
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: flex-end;

    .action-button{ 
      margin-right: 0.5rem;
      border-radius: 1rem;
    }

    .check-button{ 
      background-color: #690;
      color: white;
    }
  }

  .add-bullet-button{ 
    border-radius: 0.5rem;
    margin: 1rem 0 0 0;
  }
}


/*
Utility
-------
*/
.clickable:hover{ 
  cursor: pointer;
}